
.Blogo {
    height: 5.2vw;
    width: 20vw;
}
.hamburgerB {
    height: 6vw;
    width: 6vw;
    margin-top: 2vw;
    cursor: pointer;
}
.top {
    height: 10vw;

}
.top, ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}

.top-menu {
    display: none;
}

div.top-menu, .top-menu-open, .top-menu-close {
    width: 32vw;
    height: 32vw;
    position: fixed;
    top: 0;
    right: 31.5rem;
    transform: translateX(1610px);
    

}

.top-menu-open {
    display: block;
    animation-name: open;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    margin-top: 13vw;
    background:  rgba(255, 255, 255, 0.712);
}

.top-menu-close{
    display: block;
    animation-name: close;
    animation-duration: .6s;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
    margin-top: 13vw;
}
.flag {
    z-index: -100;
}

a:link {
    text-decoration: none;
}
li {
    margin-top: 1.1vw;
    margin-left: 1.75vw;
    color:rgb(43,57,70);
    font-size: 1.75vw;
    font-family: 'PT Sans', sans-serif;
}
li:hover, h3:hover {
    color: rgb(116, 29, 29);
    font-weight: bolder;
    
}
h3 {
    color:rgb(43,57,70);
    margin-top: 2.5vw;
    font-family: 'PT Sans', sans-serif;
}
.openlist {
    font-size: 3.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.MB {
    display: none;
}

@keyframes open {
    from {
        transform: translateX(1610px)
    }
    to {
        transform: translateX(505px);
    }
}
@keyframes  close {
    from{
        Transform: translateX(575px)
    }
    to {
        transform: translateX(1610px)
    }
}

@media (max-width: 745px) {
    li {
        display: none;
    }
    .MB {
        display: block
    }
    .Blogo {
        height: 11vw;
        width: 40vw;
    }
    
    .top {
        margin-top: 3vw;
    }

    .top-menu-open{
        z-index: 10;
    }
    .top-menu-close{
        z-index:-1;
    }
}

@media (min-width: 745.1px) {
    .top-menu-open{
        display: none;
    }
}