@import "../../App.scss";

.Blogo {
    height: 5.2vw;
    width: 20vw;
}
.hamburgerB {
    height: 6vw;
    width: 6vw;
    margin-top: 2vw;
    cursor: pointer;
}
.top {
    height: 10vw;

}
.top, ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}

.top-menu {
    display: none;
}

div.top-menu, .top-menu-open, .top-menu-close {
    width: 32vw;
    height: 32vw;
    position: fixed;
    top: 0;
    right: 31.5rem;
    transform: translateX(1610px);
    

}

.top-menu-open {
    display: block;
    animation-name: open;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    margin-top: 13vw;
    background:  $white-fade;
}

.top-menu-close{
    display: block;
    animation-name: close;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    margin-top: 13vw;
}
.flag {
    z-index: -100;
}

a:link {
    text-decoration: none;
}
li {
    margin-top: 1.1vw;
    margin-left: 1.75vw;
    color:$my-blue;
    font-size: 1.75vw;
    font-family: $sans-font;
}
li:hover, #HIW:hover,#AP:hover, #S:hover, #D:hover, #SI:hover {
    color: $my-red;
    font-weight: bolder;
    
}

.openlist h3 {
    color:$my-blue;
    margin-top: 2.85vw;
    font-family: $sans-font;
}
.openlist {
    font-size: 3.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.MB {
    display: none;
}

@keyframes open {
    from {
        transform: translateX(1610px)
    }
    to {
        transform: translateX(505px);
    }
}
@keyframes  close {
    from{
        transform: translateX(575px)
    }
    to {
        transform: translateX(1610px)
    }
}

@media (max-width: 745px) {
    li {
        display: none;
    }
    .MB {
        display: block
    }
    .Blogo {
        height: 11vw;
        width: 40vw;
    }
    
    .top {
        margin-top: 3vw;
    }

    .top-menu-open{
        z-index: 10;
    }
    .top-menu-close{
        z-index:-1;
    }
}

@media (min-width: 745.1px) {
    .top-menu-open{
        display: none;
    }
}
@media( max-width: 500px) {
    .top {
        flex-direction: column;
        height: 20vw;
    }
    .Blogo{
        margin-top: 1.2vw;
        margin-left: 4.5vw;
    }
    .MB {
        margin-top: -1.5vw;
    }
    .hamburgerB {
        width: 8vw;
        height: 8vw;
    }
    .top-menu-open {
        margin-top: 25vw;
        width: 100vw;
        height: 10vw;
    }
    .top-menu-close {
        margin-top: 25vw;
    }
    .openlist {
        flex-direction: row;
        justify-content: center;
        font-size: 3vw;
    }
    .openlist h3 {
        margin: 1.4vw;
        padding-top: 2vw;
    }
    #AP, #D{
        color: $my-red
    }
    #AP:hover, #D:hover {
        font-weight: bolder;
        // color: $my-blue;
    }
    #HIW:hover, #S:hover, #SI:hover {
        color: $my-blue;
    }

}